.searchBar__wrapper{
    padding: 30px 10px;
    max-width: 500px;
}
.searchBar__input{ 
    min-width: 200px;
}

.searchBar__label{ 
    visibility:hidden;
    position: absolute;
    left: 9999;
    width: 1px;
    height: 1px;
}


