.searchBar__wrapper{
    padding: 30px 10px;
}
.searchBar__input{ 
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    min-width: 200px;
}

.searchBar__label{ 
    visibility:hidden;
    position: absolute;
    left: 9999;
    width: 1px;
    height: 1px;
}